<app-header></app-header>
<app-sign-up></app-sign-up>
<main role="main" class="container">
  <router-outlet></router-outlet>
  <h1 class="mt-5">Project X</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, voluptatibus?
  </p>
  <p>Ez <a href="">sample url</a> meow</p>
</main>
<app-footer></app-footer>
